<% capture assign='site_logo_src'%><% PROPERTY name="site.logo.src" %><% /capture %>
<% capture assign='heading_text'%><% PROPERTY name="heading.text" %><% /capture %>
<% capture assign='site_tagline_text'%><% PROPERTY name="site.tagline.text" %><% /capture %>
<% capture assign='header_alignment'%><% PROPERTY name="header.alignment" %><% /capture %>
<% include file='templates/common/primary_menu.tpl' submenutype=flyover assign='primary_menu'%>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- normalize and html5 boilerplate resets -->
        <link rel="stylesheet" href="<% 'templates/SuperFlat_v2/resources/css/reset.css'|anticache %>">

        <!--[if lte IE 9]>
        <script src="<% 'templates/SuperFlat_v2/resources/js/html5shiv.js'|anticache %>"></script>
        <script src="<% 'templates/SuperFlat_v2/resources/js/html5shiv-printshiv.js'|anticache %>"></script>
        <![endif]-->

        <% HEADER %>
    </head>
    <body>
        <div id="sys_background" class="yola_bg_overlay">
            <div class="yola_inner_bg_overlay">
                <div class="yola_outer_content_wrapper">
                    <header role="banner">
                        <% if $header_alignment == 'bottom'%>
                        <div class="yola_banner_wrap">
                            <div id="sys_banner" class="yola_outer_heading_wrap">
                                <div class="yola_inner_heading_wrap">
                                    <div class="yola_innermost_heading_wrap">
                                        <h1>
                                            <a id="sys_heading" class="<% if $site_logo_src != ''%>yola_show_logo<% else %>yola_hide_logo<% /if %>" href="./">
                                                <img class="yola_site_logo" src="<% IFPROPERTY format='%s' name='site.logo.src' anticache='true' urlencode='true' %>" alt="<% IFPROPERTY format='%s' name='heading.text' %>" >
                                                <span><% PROPERTY name='heading.text' %></span>
                                            </a>
                                        </h1>
                                        <h2 class="yola_site_tagline" style="display:<% if $site_tagline_text != ''%>block<% else %>none<% /if %>"><span><% PROPERTY name='site.tagline.text' %></span></h2>
                                    </div>
                                </div>
                            </div>
                            <nav role="navigation">
                                <div class="yola_inner_nav_wrap">
                                    <div class='sys_navigation'>
                                        <% $primary_menu %>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </nav>
                        </div>
                        <% /if %>
                        <% if $header_alignment == 'top'%>
                        <div class="yola_banner_wrap">
                            <nav role="navigation">
                                <div class="yola_inner_nav_wrap">
                                    <div class='sys_navigation'>
                                        <% $primary_menu %>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </nav>
                            <div id="sys_banner" class="yola_outer_heading_wrap">
                                <div class="yola_inner_heading_wrap">
                                    <div class="yola_innermost_heading_wrap">
                                        <h1>
                                            <a id="sys_heading" class="<% if $site_logo_src != ''%>yola_show_logo<% else %>yola_hide_logo<% /if %>" href="./">
                                                <img class="yola_site_logo" src="<% IFPROPERTY format='%s' name='site.logo.src' anticache='true' urlencode='true' %>" alt="<% IFPROPERTY format='%s' name='heading.text' %>" >
                                                <span><% PROPERTY name='heading.text' %></span>
                                            </a>
                                        </h1>
                                        <h2 class="yola_site_tagline" style="display:<% if $site_tagline_text != ''%>block<% else %>none<% /if %>"><span><% PROPERTY name='site.tagline.text' %></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% /if %>

                    </header>

                    <main class="yola_content_wrap" role="main">
                        <div class="yola_content_column">
                            <div class="yola_inner_content_column">
                                <div style="padding:0; height:0; clear:both;">&nbsp;</div>
                                <% CONTENT %>
                                <div style="padding:0; height:0; clear:both;">&nbsp;</div>
                            </div>
                        </div>
                    </main>

                    <div class="yola_footer_wrap">
                        <div class="yola_footer_column">
                            <footer id="yola_style_footer">
                                <% STYLE_FOOTER %>
                            </footer>
                        </div>
                    <div>

                    <% YOLACREDIT %>
                </div>
            </div> <!-- .inner_bg_overlay -->
        </div> <!-- #sys_background / .bg_overlay -->
        <% TRACKING %>
        <% if $smarty.const._SYSTEM_MODE == "DESIGN" %>
        <script src="<% 'templates/SuperFlat_v2/resources/js/sitebuilder.js'|anticache %>"></script>
        <script src="<% '/ide/lib/jquery/plugins/third-party/jquery.nearest.min.js'|anticache %>"></script>
        <% /if %>
    </body>
</html>


